{% extends "base.html" %}

{% block content %}

    <h2>Requests</h2>

    <table class="table table-striped table-bordered">
        <thead>
            <tr class="table-secondary">
                <th>Request</th>
                <th>Pseudonym</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for request in entry_requests %}
            <tr>
                <td>{{ request.id }}</td>
                <td><a href="{% url 'service:detail' request.id %}">{{ request.store_entry.pseudonym }}</a> </td>
                {%  if request.is_accepted %}
                    <td class="text-success"><strong>ACCEPTED</strong></td>
                {% elif request.is_declined %}
                    <td class="text-danger"><strong>DECLINED</strong></td>
                {% else %}
                    <td class="text-secondary"><strong>OPEN</strong></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'service:find_pseudonym' %}"><button class="btn btn-success">New request for pseudonym...</button></a>

{% endblock %}